
@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");

body
{
height: 100vh;
background-image: url(/images/six.jpeg);
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;;
}
#wrapper-grid{
    background-color: rgba(255, 255, 255, 0.9);
    width: 95vw;
    height: 70vh;
    overflow-y: scroll;
    margin: 5vh auto 0;
    z-index: 20;
    overflow-X: hidden;
    box-sizing: border-box;
}

.guest-card{
    width: 100%;
    margin: 0 0 2rem;
}
.guest-card div{
    color: #242424;
    font: 800 1.4rem Arial, sans-serif;
    margin: auto;
}
.guest-card_name{
    background-color: #f08080;
    padding: .5rem;
    width: 100%;
    color: white !important;
    font: 800 1.3rem Arial, sans-serif !important;
}
.guest-card_attending span {
    font: 600 1.1rem Arial, sans-serif;
    color: #fca311;
}

.guest-card_ceremony span{
    color: #3a86ff;
    font: 600 1.1rem Arial, sans-serif;
}
.guest-card_reception span{
    color: #06d6a0;
    font: 600 1.1rem Arial, sans-serif;
}

/* #total-guests{
    background-color: #242424;
    color: white;
    height: 6rem;
    width: 6rem;
    margin: 2rem auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    padding: 0;
    line-height: 0;
} */
.home-icon{
    background-color: white;
    color: #242424;
    padding: 1rem 2rem;
    font: 600 1.5rem Arial;
    border-radius: 3rem;
    margin: 2rem auto;
    display: block;
    text-align: center;
    max-width: 6rem;
}
.count-wrapper{
width: 90%;
height: 6rem;
margin: auto;
display: flex;
align-items: center;
justify-content: center;
}
.count-wrapper .total-guests{
    background-color: #f15bb5;
    color: white;
    font: 800 2rem Arial, sans-serif;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    width: 50%;
    padding: .5rem 2rem;
}
.count-wrapper .total-guests-reception{
    background-color: #00bbf9;
    color: white;
    font: 800 2rem Arial, sans-serif;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    width: 50%;
    padding: .5rem 2rem;
}


 /* watch page */
.liveVideo{
    height: 100vh;
}

#watchPage{
    background: black;
    position: relative;
}

#counterWrapper{
position: absolute;
z-index: 3;
top: 25rem;
left: 0;
right: 0;
bottom: 0;
margin: 0 auto;
width: 95%;
height: 8rem;


}

#counterWrapper #days, #counterWrapper #hours, #counterWrapper #minutes, #counterWrapper #seconds{
color: white;
	font-family: "Source Sans Pro", sans-serif;
		font-weight: 300;
		font-size: 2.5rem;
		line-height: 1.65;
        margin: 0 .5rem;
}

#eventMessage{
    font-size: 1.3rem;
    color: white;
	font-family: "Source Sans Pro", sans-serif;
		font-weight: 300;
		font-size: 1.5rem;
        margin: auto;
        width: 100%;
        text-align: center;
}