body
{
height: 100vh;
background-image: url(/images/six.jpeg);
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;;
}
#wrapper-grid{
    display: grid;
    grid-template-columns: 50% 10% 10% 15% 15%;
    background-color: rgba(255, 255, 255, 0.9);
    width: 95vw;
    height: 70vh;
    overflow-y: scroll;
    margin: 5vh auto 0;
    z-index: 20;
    overflow-Y: scroll;
}
#wrapper-grid div {
    color: rgb(24, 21, 21);
    font-family: Arial, sans-serif;
    padding: .5rem;
    height: 2rem;
    padding: .5rem;
    border: 1px solid rgb(24, 21, 21);
}
.name{
    grid-column: 1/2;
    grid-row: 1/2;
}

.yes{
    grid-column: 2 / 3;
    grid-row: 1/2;
}

.no{
    grid-column: 3 / 4;
    grid-row: 1/2;
}
.kids{
    grid-column: 4 / 5;
    grid-row: 1/2;
}
.adults{
    grid-column: 5 / 6;
    grid-row: 1/2;
}
.table-item{
    width: 100%;
    grid-column: 1 / 6;
}

#total-guests{
    background-color: #242424;
    color: white;
    height: 6rem;
    width: 6rem;
    margin: 2rem auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    padding: 0;
    line-height: 0;
}
.home-icon{
    background-color: white;
    color: #242424;
    padding: 1rem 2rem;
    font: 600 1.5rem Arial;
    border-radius: 3rem;
    margin: 2rem auto;
    display: block;
    text-align: center;
    max-width: 6rem;
}