body
{
height: 100vh;
background-image: url(/images/six.jpeg);
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
#wrapper-grid{
    display: grid;
    grid-template-columns: 65% 10% 10% 15%;
    grid-template-rows: 10% 90%;
    background-color: rgba(22, 15, 54, 0.8);
    width: 95vw;
    height: 70vh;
    overflow-y: scroll;
    margin: 5vh auto 0;
    z-index: 20;
    overflow-Y: scroll;
}

#wrapper-grid div {
    overflow-x: scroll;
    flex-wrap: nowrap;
}
.name-of-guest{
grid-column: 1/2;
border-right: 1px solid white;
font-family: Arial, sans-serif;
font-size: 1rem;
display: flex; 
align-items: flex-start;
justify-content: flex-start;
flex-wrap: nowrap;
color: white;
flex-flow: column;
overflow-x: scroll;
}

.name-of-guest div{
    border-right: 1px solid white;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    display: flex; 
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    color: white;
    flex-flow: row;
    overflow-x: scroll;
    white-space: nowrap;
}
.number-of-guest{
    grid-column: 4/5;
    border-right: 1px solid white;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    display: flex; 
    align-items: flex-start;
    justify-content: flex-start;
    color: white;
    flex-flow: column;
}

.nog-top div{
    padding: 1rem .5rem;
    border-bottom: 1px solid white;
    box-sizing: border-box; 
    font-size: 1rem;
    width: 100%;
}
.y-top div{
    padding: 1rem .5rem;
    border-bottom: 1px solid white;
    font-size: 1rem;
    box-sizing: border-box;
    width: 100%;
}
.n-top div{
    padding: 1rem .5rem;
    border-bottom: 1px solid white;
    font-size: 1rem;
    box-sizing: border-box;
    width: 100%;
}

.nuog-top div{
    padding: 1rem .5rem;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
}
.guest-coming-yes{
    grid-column: 2/3;
    border-right: 1px solid white;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    display: flex; 
    align-items: flex-start;
    justify-content: flex-start;
    color: white;
    flex-flow: column;
}
.guest-coming-no{
    grid-column: 3/4;
    border-right: 1px solid white;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    display: flex; 
    align-items: flex-start;
    justify-content: flex-start;
    color: white;
    flex-flow: column;
}

.top{
    border-bottom: 1px solid white;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    display: flex; 
    align-items: center;
    justify-content: center;
}

#total-guests{
    background-color: var(--sage-green);
    color: white;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    padding: 0;
    line-height: 0;
}
#total-guests{
    background-color: #242424;
    color: white;
    height: 6rem;
    width: 6rem;
    margin: 2rem auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    padding: 0;
    line-height: 0;
}
.guest-coming-yes.y-top div{
    font-size: .7rem;
}
.home-icon{
    background-color: white;
    color: #242424;
    padding: 1rem 2rem;
    font: 600 1.5rem Arial;
    border-radius: 3rem;
    margin: 2rem auto;
    display: block;
    text-align: center;
    max-width: 6rem;
}
